{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}

{% block content %}
  <h2 class="text-center">review</h2>
  <div></div>
  <p>Title :
    {{ review.title }}</p>
  <p>
    writer :
    <a href={% url 'accounts:detail' review.user.pk %}>{{review.user}}</a>
  </p>
  <p>{{ review.updated_at }}</p>
  {% if review.image %}
    <p><img src='{{ review.image.url }}' alt='{{ review.image }}' style="width: 100%; ">
    </p>
  {% endif %}

  <p>content :
    {{ review.content }}</p>
  {% if request.user == review.user %}
    <div class="d-flex ">
      <p>
        <a href="{% url 'review:update' review.pk %}" class="btn btn-outline-dark">수정</a>
      </p>
    {% endif %}
    <form action="{% url 'review:delete' review.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-outline-danger mx-2" value="삭제">
    </form>
  </div>

  <form class='like-form' data-review-pk='{{ review.pk }}'>
    {% csrf_token %}
    <span class='like-cnt'>{{review.like_users.count}}</span>
    {% if request.user in review.like_users.all %}
      <button class="btn btn-link text-danger">
        <i class="bi bi-heart-fill heart-icon"></i>
      </button>
    {% else %}
      <button class="btn btn-link text-danger">
        <i class="bi bi-heart heart-icon"></i>
      </button>
    {% endif %}
  </form>

  {% if request.user.is_authenticated %}
    <form action="{% url 'review:comment_create' review.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input class="bnt my-3" style='color:#937DC2' type="submit" value="OK">
    </form>
  {% endif %}
  <hr>
  {% for comment in comments %}
    <article class='comment-block-{{ comment.pk }}'>
      <p class='comment-{{ comment.pk }}-content-container'>
        {{ comment.user.username }}
        |
          <span class='comment-{{ comment.pk }}-content'>{{ comment.content }}</span>
      </p>
      <form action="{% url 'review:comment_delete' review.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
      </form>
      <a href="{% url 'review:comment_update' review.pk comment.pk %}" class="btn btn-primary comment-update-btn" data-review-pk='{{ review.pk }}' data-comment-pk='{{ comment.pk }}'>수정</a>
    </article>
    <hr>
    {% empty %}
    <p>아직 아무도 못본거라고 믿자,,</p>
  {% endfor %}
  <a href="{% url 'review:index' %}">back</a>
{% endblock %}
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/review/detail.js' %}"></script>
{% endblock js %}