{% extends 'base.html' %}
{% block content %}
<div class='text-center'>
    <h1 class="mb-4">🎃let's die listening to music🎃</h1>

<a href="{% url 'review:create' %}" class="text-decoration-none"><h4>CREATE</h4></a>
</div>
<hr>

{% comment %} {% for review in reviews %}
    <a href="{\% url 'review:detail' review.pk \%}"><p>{{ review.title }}</p></a>

    
{% endfor %} {% endcomment %}
<br>
<table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Title</th>
            <th scope="col">User name</th>
            <th scope="col">Content</th>
            <th scope="col">Grade</th>

        </tr>
        </thead>
        <tbody>
          {% if question_list %}
    {% for review in question_list %}
        <tr>
            <th scope="row">{{review.pk}}</th>
            <td><a href="{% url 'review:detail' review.pk%}" class="text-black fw-bold text-decoration-none">
                {{review.title}}</td>
            <td><a href="{% url 'accounts:detail' review.user.pk%}" class="text-black fw-bold text-decoration-none">
                {{review.user}}</td>
            <td>{{review.content}}</td>
            <td>{% if review.grade == 5 %}
                ⭐⭐⭐⭐⭐
              {% elif review.grade == 4 %}
                ⭐⭐⭐⭐
              {% elif review.grade == 3 %}
                ⭐⭐⭐
              {% elif review.grade == 2 %}
                ⭐⭐
              {% elif review.grade == 1 %}
                ⭐
              {% endif %}</td>
        </tr>    
        </tbody>
    {% endfor %}
    {% endif %}
</table>
<ul class="pagination justify-content-center">
  <!-- 이전페이지 -->
  {% if question_list.has_previous %}
  <li class="page-item">
      <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
  </li>
  {% else %}
  <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
  </li>
  {% endif %}
  <!-- 페이지리스트 -->
  {% for page_number in question_list.paginator.page_range %}
  {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
  {% if page_number == question_list.number %}
  <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
  </li>
  {% else %}
  <li class="page-item">
      <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
  <!-- 다음페이지 -->
  {% if question_list.has_next %}
  <li class="page-item">
      <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
  </li>
  {% else %}
  <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
  </li>
  {% endif %}
</ul>
    

{% endblock %}