{% extends 'base.html' %}
{% block content %}
<div class='text-center'>
    <h1 class="mb-4">🎃let's die listening to music🎃</h1>

<a href="{% url 'review:create' %}" class="text-decoration-none"><h4>CREATE</h4></a>
</div>
<hr>

{% comment %} {% for review in reviews %}
    <a href="{\% url 'review:detail' review.pk \%}"><p>{{ review.title }}</p></a>

    
{% endfor %} {% endcomment %}

<table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">User name</th>
            <th scope="col">Content</th>
            <th scope="col">Grade</th>

        </tr>
        </thead>
        <tbody>
    {% for review in reviews %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="{% url 'review:detail' review.pk%}" class="text-black fw-bold text-decoration-none">
                {{review.title}}</td>
            <td><a href="{% url 'accounts:detail' review.user.pk%}" class="text-black fw-bold text-decoration-none">
                {{review.user}}</td>
            <td>{{review.content}}</td>
            <td>{% if review.grade == 5 %}
                ⭐⭐⭐⭐⭐
              {% elif review.grade == 4 %}
                ⭐⭐⭐⭐
              {% elif review.grade == 3 %}
                ⭐⭐⭐
              {% elif review.grade == 2 %}
                ⭐⭐
              {% elif review.grade == 1 %}
                ⭐
              {% endif %}</td>
        </tr>    
        </tbody>
    {% endfor %}
</table>
    

{% endblock %}