{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block content %}

  <div class="container ">
    <table class="table mb-5 border border-3">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">title</th>
          <th scope="col">content</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for page_number in question_list.paginator.page_range %}
        {% for review in search_list %}
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
          <tr>
            <th scope="row">{{review.id}}</th>
            <td>
              <a href="{% url 'review:detail' review.pk%}" class="text-black fw-bold text-decoration-none">
                {{review.title}}
              </a>
            </td>
            <td>{{review.content}}</td>
            <td>
              {% if review.grade == 5 %}
                ⭐⭐⭐⭐⭐
              {% elif review.grade == 4 %}
                ⭐⭐⭐⭐
              {% elif review.grade == 3 %}
                ⭐⭐⭐
              {% elif review.grade == 2 %}
                ⭐⭐
              {% elif review.grade == 1 %}
                ⭐
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <ul class="pagination justify-content-center">
      <!-- 이전페이지 -->
      {% if question_list.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
      </li>
      {% endif %}
      <!-- 페이지리스트 -->
      {% for page_number in question_list.paginator.page_range %}
      {% if page_number == question_list.number %}
      <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
      </li>
      {% else %}
      <li class="page-item">
          <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
      </li>
      {% endif %}
      {% endfor %}
      <!-- 다음페이지 -->
      {% if question_list.has_next %}
      <li class="page-item">
          <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
      </li>
      {% else %}
      <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
      </li>
      {% endif %}
  </ul>

    {% endblock%}
