{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block content %}

  <div class="container ">
    <table class="table mb-5 border border-3">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">title</th>
          <th scope="col">content</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for review in search_list %}
          <tr>
            <th scope="row">{{review.id}}</th>
            <td>
              <a href="{% url 'review:detail' review.pk%}" class="text-black fw-bold text-decoration-none">
                {{review.title}}
              </a>
            </td>
            <td>{{review.content}}</td>
            {% comment %} <td>
              {% if review.grade == 5 %}
                ⭐⭐⭐⭐⭐
              {% elif review.grade == 4 %}
                ⭐⭐⭐⭐
              {% elif review.grade == 3 %}
                ⭐⭐⭐
              {% elif review.grade == 2 %}
                ⭐⭐
              {% elif review.grade == 1 %}
                ⭐
              {% endif %}
            </td> {% endcomment %}
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link text-black" href="#" aria-label="success">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link text-black" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link text-black" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link text-black" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link text-black" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    {% endblock%}
