@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
  font-family: 'Creepster', cursive;
  color: black;
  
}
body {
  background-color: #ce5632d7;
}


.base-navbar {
  background-color: rgb(52, 46, 127) !important;
}
.music-logo {
  width: 5rem;
}