{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock css %}
    <title>할로윈 뮤직</title>
  </head>

  <body>
    {% comment %} 네브바 {% endcomment %}
    <nav class="navbar navbar-expand-lg base-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'review:index' %}"><img src="{% static 'img/music_logo_2.png' %}" alt="" class='music-logo'></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if request.user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:detail' request.user.pk %}" style='color:white;'>Hi, {{ request.user.username }}</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:logout' %}" style='color:white;'>logout</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}" style='color:white;'>login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:signup' %}" style='color:white;'>signup</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
      </nav>
    {% comment %} 메시지 {% endcomment %}
    <section>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tag == 'success' %}
                <li class="alert alert-success">{{ message }}</li>
                {% elif message.tag == 'info' %}
                <li class="alert alert-primary">{{ message }}</li>
                {% elif message.tag == 'warning' %}
                <li class="alert alert-warning">{{ message }}</li>
                {% elif message.tag == 'error' %}
                <li class="alert alert-danger">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </section>
    <main class='container m-auto my-5'>
        {% block content %}{% endblock %}
    </main>

    {% block js %}{% endblock js %}
  </body>

</html>